.bg-red-600 {
    background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.delete-btn{
    padding: 6px 15px;
}

.hover\:bg-red-700:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
}